@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

.separator-logos{
    width: 3px;
    height: 40px;
    background-color: #212121;
    margin: 0px 10px;
}

.separator{
    width: 60px;
    height: 3px;
    background-color: #212121;
    margin: 5px 0px;
}

.separator-sm{
    width: 30px;
    height: 3px;
    background-color: #212121;
    margin: 3px 0px;
}